body{
    background-color: lightblue;
}

.button{
    background-color:gray !important;
    padding: 8px 15px;
    border-radius: 5px;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}

.button:hover{
    background-color: black !important;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(225, 136, 136);
}

.carImg{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.name-price{
    display: flex;
    justify-content: space-between;
}

.card-detail{
    margin-top: 10px;
    margin-bottom: 10px;
}